.post {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
}

.postCard {
  margin: 20px;
  display:flex;
  flex: 1;
}

.postSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(240, 240, 240)
}

.cardContent {
  flex: 1;
  display:flex;
  flex-direction: column;
}

.buttonBase {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  height: 100%;
  width: 100%;
}

.cardActionContent {
  width: 100% !important;
}

.hidden {
  display: none !important;
}