.communitiesContainer {
  height: 100%;
  width: 100%; 
  display: flex;
  justify-content: center;
  margin: 10px;
}

.communities {
  width: 60%;
}

.title {
  text-align: center;
}

.joinButton {
  color: red;
}

.leaveButton {
  color: blue;
}